 .alert{
     display: none;    
 }
 body {
    background-image: url('Images/back-2.jpg');
    color: rgb(252, 252, 252);
    padding: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
}
a, a:hover {
    text-decoration: none;
}
#home {
    background-color:#655552;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 375px;
    position: relative;
    width: 100%;
}
/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0px;
    transition: all 0.3s ease;
    background-color: #668B8B;
    width:100%;
    left:0px;
    right: 0px;
    height: 15%;
}
/*For the title Joshua Kiprono*/
.navbar-brand {
    color: white;
    font-size: 25px;
    font-family: 'Monaco', Courier New;
    letter-spacing: 0.1em;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 7%;
}
/*For nav link items*/
.items{
  display: block;
  justify-content: center;
  float: left;
  margin-right: 3%;
  margin-left: 3%;
}
.items a{
    color: white; 
    letter-spacing: 0.1em;
}
.Navlinks{
  justify-content: center;
  width: 100%;
 margin-top: 5%;
 margin-left: 10%;
}
/*this is the container that holds the about section*/
.About-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.Aboutcontainer-inner {
  margin-top: -90px;
}
/*Stying for the window that holds my info*/
.window {
  color: white;
  background: #343434;
  width: 35%;
  height: 90%;
  margin: auto;
  margin-top: 9.5vh;
  border: 1px solid #acacac;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Monaco', Courier New;
}
.titlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: white;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
}
.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}
#windowText{
  color: white;
  font-family: 'Monaco', Courier New;
}
.Wtext{
  float: left;
  padding: 5px;
  left: 5px;
}
#about {
	width: 100%;
	min-height: 700px;
	max-height: 2000px;
}

.AboutSection {
	background-color: #cfcfc4;
}

.AboutSection {
	padding-top: 120px;
	padding-bottom: 100px;
}

.AboutSectionText {
	left: 0px;
	right: 0px;
	width: 100%;
	text-align: left;
	color: black;
	background: #ffffff;
	border-radius: 4px;
	padding: 10%;
	position: relative;
	margin: 5%;
	text-align: justify;
	color: black;
	font-family: 'Playfair Display', serif;
	line-height: 2em;
	font-size: 20px;
}

.AboutSectionImage {
	border: 9px solid #ffffff;
	position: absolute;
	border-radius: 50%;
	right: -60px;
	top: 50px;
	width: 300px;
	height: 300px;
}

.classIntro {
	width: 100%;
	bottom: 0px;
	height: 30%;
}

.classIntro p {
	color: white;
	font-size: 25px;
	font-family: 'Monaco', Courier New;
	display: block;
	width: 50%;
	padding: 2% 2%;
}
/*Section Holding styling for projects*/

#Projects {
	min-height: 1000px;
	max-height: 5500px;
	background-color: #cfcfc4;
	padding-top: 100px;
}

.project-thumb {
	background: #ffffff;
	border-radius: 4px;
	padding: 80px;
	position: relative;
	margin: 5%;
	text-align: justify;
	color: black;
}

.project-thumb p {
	Margin-top: 3%;
}

.ImageHolder {
	margin-top: 20%;
	margin-bottom: 30%;
	width: 300px;
	height: 300px;
	justify-content: center;
}

.ProjectImg {
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
}

.projectButton {
	position: absolute;
	bottom: 20px;
	left: 40%;
}
#Experience{
   min-height: 1700px;
   max-height: 4000px;
   background-color: #cfcfc4;
   padding-top: 80px;
   color: black;
   }
.leftText {
  align-content: center;
  margin: 1% 1%;
  font-weight: bold;
  text-align: center;
}
.rightText{
  justify-content: center;
  text-align: justify;
}
.google, .CodePath, .CPI, .Tutor, .NSBE{
  margin-top: 10%;
}
.logo{
  width: 200px;
  height: 200px;
}
#Skills{
  min-height: 600px;
  max-height: 4000px;
  background-color: #cfcfc4;
  padding-top: 20px;
   }
.skills-thumb {
    
    border-radius: 10px;
    padding: 80px;
    position: relative;
    margin: 5%;
    text-align:justify;
    color: black;
    width: 100%;
    height: 80%;
}
.skills_items{
   width: 100%;
}
.skills_items p{
    color: white;
   background-color: rgb(48, 45, 45);
   border-radius: 14px;
   float: left;
   padding: 6px;
   margin-left: 20px;
   font-size: 18px;
}
.skills_intro{
    font-weight: bold;
    margin: 30px;
    justify-content: left;
    font-size: 20px;
}
/*connect section*/
.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}
.tm-footer a {
	color: #fff;
}
.tm-footer a:hover {
	color: #9CF;
}
.tm-footer-link {
  color: white;
}
.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #38B;
  text-decoration: none;
}
#footer{
  background-color: #ddd;
  padding: 100px 20px 20px 20px;
}
footer{
  color: #cfcfc4;
  bottom: 5px;
  margin-top: 1%;
}
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}
.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
}
.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button i, .social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 28px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--twitter {
  color: #55acee;
}
.notification{
    display: none;
}
#welcomeSection{
    position: absolute;
    top: 20%;
    left: 20%;
    background: #343434;
    border-radius: 6px;
    height: auto;
    color: white;
    font-size: 16px;
    font-family: 'Monaco', Courier New;
}
/*OPTIMIZATIONS FOR SMALLER SCREENS*/
@media screen and (max-width:217px){
    #about, #Projects, #Experience, #Skills, #footer,#home, .classIntro{
        display: none;
    }
    .notification{
        display: block;
        position: absolute;
        font-weight: bolder;
        color: black;
        backdrop-filter: blur(6px);
        width: 100%;
        height: 100%;
        background-color:white;
    }
}

@media screen and (max-width:300px) {
	.AboutSectionImage {
		display: none;
	}
	.AboutSectionText {
		width: 100%;
    }
    .logo{
         width: 100px;
         height: 100px;
     } 

}

@media screen and (max-width:384px) {
    .navbar-brand{
        top: 30%;
        left: 20%;
        font-size: 15px;
    }
      .Navlinks{
         display: none;
      } 
   .AboutSectionImage {
        width: 20%;
        height: 20%;
        right: 15px;
        left: 20px;
    }

   .ImageHolder {
        margin-top: 20%;
        margin-bottom: 30%;
        width: 100px;
        height: 100px;
        justify-content: center;
        left: 20px;
    }

   .ProjectImg {
        width: 100px;
        height: 100px;
        top: 30%;
    }

   .projectButton {
        position: absolute;
        bottom: 20px;
        left: 30%;
    }
    #welcomeSection{
     display: none;
    }
}       
@media screen and (min-width:384px) and (max-width: 515px)  {
    .navbar{
       height: 20%;
       margin-bottom: 7%;  
    }
    .Navlinks{
        margin-left: 5%;
    }
    .items{
     margin: 2% 2% 2% 4%;
     font-size: 1.0em;
     border: 1px solid white;
     border-radius: 3px;
     width: auto;
    }
    .items a{
        padding: 2%;   
    }
    .items2{
        display: none;
    }
    .navbar-brand {
        left: 25%;
        right: 25%;
        width: auto;  
    }
    .ImageHolder{
        margin-top: 40%;
        margin-bottom: 40%;
        width: 200px;
        height: 200px;
        justify-content: center;
    }
   .ProjectImg{
        width:200px;
        height:200px;
        top: 50%;
        left: 70%;
   } 
   .projectButton{
        position: absolute;
        bottom:   20px;
        left: 30%;
}   
    #welcomeSection{
        display: none;
    }
}
@media screen and (min-width:483px) and (max-width: 1000px) {
    .Navlinks{
        margin-left: 9%;
    }
    .items3{
        display: none;
       }
    #welcomeSection{
        display: none;
    }
    }
@media screen and (max-width: 562px) {
    .window {
       width: 100%;
       height: 100%;  
      }
    #windowText p{
        float: left;
        left: 0px; 
      }
    .AboutSectionImage{
        width: 250px;
        height: 250px;
        margin: auto;
}      
    }
@media screen and (max-width: 760px) {
	.AboutSectionText {
		width: 80%;
		margin: auto;
		margin-top: 20%;
	}
	.AboutSectionImage {
		position: relative;
		margin: auto;
	}
}

@media screen and (min-width:765px) and (max-width: 995px) {
	.AboutSectionText {
		width: 80%;
		margin: auto;
		margin-top: 10%;
	}
	.AboutSectionImage {
		right: -75px;
		top: 50px;
		width: 300px;
		height: 300px;
	}
	.ImageHolder {
		margin-top: 50%;
		margin-bottom: 50%;
		width: 150px;
		height: 150px;
		justify-content: center;
	}
	.ProjectImg {
		width: 150px;
		height: 150px;
		top: 50%;
		left: 80%;
	}
	.project-thumb {
		min-height: 1000px;
	}
	.projectButton {
		position: absolute;
		bottom: 20px;
		left: 30%;
	}
}
